<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <main class="h-screen w-full flex flex-col justify-center items-center text-black">
        <form action="/login" class="p-8 h-auto w-120 border-2  flex flex-col justify-center items-center gap-8 rounded-lg" method="post">
            <h2 class="font-mono text-2xl font-black">Login into the sea of stories :D</h2>
            <input class="h-12 w-full border-grey-400 border-b-2 bg-stone-100 p-4 outline-none rounded-t-lg font-medium" type="text" placeholder="Username" name="username" required>
            <input class="h-12 w-full border-grey-400 border-b-2 bg-stone-100 p-4 outline-none rounded-t-lg font-medium" type="password" name="password" placeholder="******" required>
            <button class="h-12 w-32 bg-black font-medium text-xl text-white p-2 rounded-full" type="submit">Log in</button>
        </form>
    </main>

    

      <% if (success.length > 0) { %>
  <div id="flash1" class="fixed bottom-6 right-6 bg-gray-900 text-white px-8 py-4 rounded-xl shadow-lg text-sm opacity-90">
  <%= success[0] %>
</div>
<% } %>

<% if (error.length > 0) { %>
  <div id="flash2" class="fixed bottom-6 right-6 bg-gray-900 text-red-600 font-medium px-8 py-4 rounded-xl shadow-lg text-sm opacity-90"><%= error[0] %></div>
<% } %>


<script src="/js/dom.js"></script>
</body>
</html>